.contacts {
	border: solid 1px black;
	float: right;
	width: 80%;
	height: 500px;
	margin: 10px;
}

.categories {
	border: solid 1px black;
	width: 10%;
	height: 300px;
	float: left;
	margin: 10px;
	padding: 8px;
}

.new-contacts {
	clear: both;
	border: solid 1px black;
	width: 10%;
	height: 200px;
	margin: 10px;
	padding: 8px;
	float: left;
}