<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<div class='sidebar'>
		

		<div class='categories'>
			<div id="2">
				<h2>Aliens</h2>
				<button class='categories-button'>View Contacts</button>
			</div>
			<div id="1">
				<h2>Humans</h2>
				<button class='categories-button'>View Contacts</button>
			</div>
			<div id="3">
				<h2>Robots</h2>
				<button class='categories-button'>View Contacts</button>
			</div>
		</div>
	
		<div class='new-contacts'>
			<form class='new'>
				<label>Add New Contacts
					<input class='textbox' type='text' name='name' placeholder='Name' required>
					<input class='textbox' type='text' name='age' placeholder='Age' required>
					<input class='textbox' type='text' name='address' placeholder='Address' required>
					<input class='textbox' type='text' name='phone' placeholder='Phone' required>
					<select required>
						<option id='cat' selected>Select a category</option>
						<option id='1'>Human</option>
						<option id='2'>Alien</option>
						<option id='3'>Robot</option>
					</select>
					<button class='submit'>Submit</button>
				</label>
			</form>
		</div>

		<div class='search'>
			<label> Search
			<input class='textbox' type='text' name='search' placeholder='Search'>
			<button class='search-button'>Go!</button>
		</div>
	</div>
	

	<div class='contacts-div'>
		<ul class='contacts'></ul>
	</div>



	<div id='edit-form'>
		<form class='edit'>
			<label>Edit Contact
			<input class='textbox' type='text' name='edit-name'>
			<input class='textbox' type='text' name='edit-age'>
			<input class='textbox' type='text' name='edit-address'>
			<input class='textbox' type='text' name='edit-phone'>
			<select required>
				<option id='cat' selected>Select a category</option>
				<option value='human' id='1'>Human</option>
				<option value='alien' id='2'>Alien</option>
				<option value='robot' id='3'>Robot</option>
			</select>
			<button class='save'>Save</button>
			<button class='cancel'>Cancel</button>
		</form>
	</div>


	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script></body>  
</body>
</html>